# 스프링 테스트 db 설정
# localhost:8080/h2-console 으로접속
spring:
  datasource:
    #    h2 2.xx번전부터는 MODE 설정
    url: jdbc:h2:mem:testdb;MODE=MySQL
  h2:
    console:
      enabled: true
      settings:
        trace: false
        web-allow-others: true
  jpa:
    defer-datasource-initialization: true